/*  Font from Google */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*  Navigation Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px; /* Better than using margin-right individually */
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav ul a:hover {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border-radius: 5px;
  padding: 18px 36px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
    text-decoration: none;

}

.btn:hover {
  background-color: #e45d00;
}
